<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>

<body data-sa-theme="5">
<% include ../partials/header.ejs %>
<% include ../partials/sidebar.ejs %>

<section class="content">
    <div class="content__inner">
        <header class="content__title">
            <h1><%= i18n.__('Log System') %></h1>
        </header>

        <div class="card">
            <div class="card-body">
                <div class="table-responsive data-table">
                    <table id="data-table" class="table table-bordered text-center">
                        <thead>
                        <tr>
                            <th style="color: yellow" class="w-25">Date - Time</th>
                            <th style="color: yellow">Log Content</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>30/01/2019 - 20:30:21</td>
                            <td>Admin login on</td>
                        </tr>
                        <tr>
                            <td>30/01/2019 - 20:30:21</td>
                            <td>Admin log out</td>
                        </tr>
                        <tr>
                            <td>30/01/2019 - 20:30:21</td>
                            <td>support "id" aprove account xxx</td>
                        </tr>
                        <tr>
                            <td>30/01/2019 - 20:30:21</td>
                            <td>backup initialized</td>
                        </tr>
                        <tr>
                            <td>30/01/2019 - 20:30:21</td>
                            <td>backup finish</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


<% include ../partials/footer.ejs %>
<% include ../partials/foot.ejs %>

</body>
</html>
